nav{
    margin-top: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0px 200px;
    margin: 0;
    gap:54px;
    justify-content: right;


}

nav li{
    font-weight:bold;
    cursor: pointer;
}